<html>
    <body>
        <center>
            <form action="/predict" method="post">
            Sepal_Length: <input type="text" name="Sepal_Length"><br>
            Sepal_Width: <input type="text" name="Sepal_Width"><br>
            Petal_Length: <input type="text" name="Petal_Length"><br>
            Petal_Width: <input type="text" name="Petal_Width"><br>
            class: {{result}} <br>
            <input type="submit" value="predict">
            </form>
        </center>
    </body>
</html>